ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month */
.month {
  padding: 40px 0;
  background: #009a44;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* For side arrows */
#prev {
  padding-top: 10px;
  float: left;
  padding-left: 20px;
}

#next {
  padding-top: 10px;
  float: right;
  padding-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #005324;
  text-shadow: 5px 5px 5px #005324;
}

/* Weekdays (Mon-Sun) */
.calendar {
  display: flex;
}

th {
  flex: 1;
  color: #666;
  text-align: center;
  padding: 10px 0;
  background-color:#ddd;
  margin: 0;
}

/* Days (1-31) */


/* Dynamic hovering over dates */
td:hover {
  background-color: #fafafa;
}

.active {
  background: #009a44;
  color: white;
}

.active:hover {
  background: #009a4383;
  color: white;
}
