ul {list-style-type: none;}
body {font-family: Verdana, sans-serif; margin: 0;}

/* Month */
.month {
  padding: 40px 0;
  background: #009a44;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* For side arrows */
#prev {
  padding-top: 10px;
  float: left;
  padding-left: 20px;
}

#next {
  padding-top: 10px;
  float: right;
  padding-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #005324;
  text-shadow: 5px 5px 5px #005324;
}

.table {
  background-color: #f3f3f3;
}

/* Weekdays (Mon-Sun) */
.header {
  display: flex;
}

.header div {
  flex: 1;
  color: #666;
  text-align: center;
  padding: 10px 0;
  background-color:#ddd;
  margin: 0;
}

/* Days (1-31) */
.row {
  display: flex;
}

.row .valid, .row .invalid {
  flex: 1;
  height: 150px;
  padding: 5px 0px 0px 5px;
}

.valid {
  color: #666;
  background-color: #eee;
  border: solid 1px #ddd;
}

.valid:hover {
  background-color: #fafafa;
}

.invalid {
  color: #666;
  background-color: #ccc;
  border: solid 1px #ddd;
}

.week-by-week .valid {
  height: 750px;
  font-size: 20px;
}

/* Handle current date */
.active {
  background-color: #009a44;
  color: white;
}

.active:hover {
  background-color: #009a4383;
}

/* Handles event items */
.event {
  background-color: #009a44;
  color: white;
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-weight: 550;
  border-radius: 10px;
}

.event:hover {
  background-color: #009a44;
  color: white;
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-weight: 550;
  border-radius: 10px;
  border: solid 1px #009a44;
}

.active .event {
  background-color: #eee;
  color: #009a44;
}

