/* Month */
#month {
  font-size: 22px;  
}

.month {
  text-align: center;
  /*min-height: 150px;*/
}

.month ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.month ul li {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* For side arrows */
#prev {
  display: inline;
}

#next {
  display: inline;
}

.change a{
  text-decoration: none;
  color: white;
}

.change a:hover {
  color: #005324;
  text-shadow: 5px 5px 5px #005324;
  text-decoration: none;
}