.content {
    padding-top: 5%;
}

.card {
    background-color: #eee;
}

#submit {
    background-color: #f36f21;
    border: none;
}

#submit:hover {
    opacity: 0.6;
}

.footer {
    background-color: black;
    color: #00aa4f;
    padding: 10px;
    text-align: center;
    line-height: 1;
}

.footer p:last-child {
    margin: 0;
}