.navbar-header {
    background-color: black;
}

.logo {
    width: 5250x;
    height: 75px;
    padding-top: 10px;
    padding-left: 10px;
}

nav {
    background-color: black;
}

nav a {
    color: #00aa4f;
    border-bottom: solid transparent 2px;
}

nav a:hover {
    color: #00aa4f;
    border-bottom: solid #f36f21 2px;
}

.content {
    padding-top: 2.5%;
}