.modal-body {
    height: 410px;
}

.view-header {

}

.view-item {
    height: 30px;
    font-size: 20px;
    background-color: #009a44;
    color: white;
    border-radius: 5px;
}

.view-item-header {
    color: #009a44;
    text-decoration: none;
}

.view-item-header:hover {
    color: #009a44;
}

.view-item-title {
    
}

.view-item-body {
    font-size: 14px;
    background-color: #eee;
    color: black
}

.view-link {
    text-decoration: none;
    color: #aaa;
}

.view-link:hover {
    color: #aaa;
}