.content {
    padding-top: 2%;
}

.card {
    background-color: #eee;
    /* padding: 1rem; */
}

.card-header {
    background-color: #eee;
}

.card-body {
    padding: 0;
}

.card-footer {
    background-color: #eee;
}

.btn {
    background-color: #f36f21;
    border: none;
}

.btn:hover {
    background-color: #f36f21;
    opacity: 0.7;
}

.btn:focus {
    background-color: #f36f21;
}