.content {
    padding-top: 2%;
}

.card {
    background-color: #eee;
    padding: 1rem;
}

.card-header {
    background-color: #eee;
}

.card-body {
    padding: 0;
}

.card-footer {
    background-color: #eee;
}

.btn-primary, .btn-primary:focus, .btn-primary:active  {
    color: white;
    background-color: #009a44;
    border: none;
}

.btn-primary:hover {
    color: white;
    background-color: #009a43b7;
    border: none;
}

.btn-secondary, .btn-secondary:focus, .btn-primary:active {
    color: white;
    background-color: #f36f21;
    border: none;
}

.btn-secondary:hover {
    color: white;
    background-color: #f36e21b7;
    border: none;
}

.btn-cancel, .btn-cancel:hover {
    color: white;
    background-color: #aaa;
    border: none;
}
