/* Month */
#month {
  font-size: 35px;  
}

.month {
  text-align: center;
  /*min-height: 150px;*/
}

.month ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.month ul li {
  color: white;
  font-size: 25px;
  letter-spacing: 3px;
  display: inline;
}

.month ul li:first-child {
  display: block;
}

#prev {
  padding-right: 20px;
}

#next {
  padding-left: 20px;
}

.change a{
  text-decoration: none;
  color: white;
}

.change a:hover {
  color: #f36f21;
  text-decoration: none;
}

/* Change radio button color */
input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #00aa4f;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}