#content {
    min-height: 500px;
}

#create-card {
    height: 500px;
}

.table td {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.user-cell {
    padding: 0.375rem;
}

.row {
    margin: 0;
}

.btn-primary {
    background-color: #aaa;
}

.btn-primary:hover {
    background-color: #aaa;
}

.btn-primary:selected {
    background-color: #aaa;
}