/* Weekdays (Mon-Sun) */
.header {
  display: flex;
}

.header div {
  flex: 1;
  color: #666;
  text-align: center;
  padding: 10px 0;
  background-color:#ddd;
  margin: 0;
}

/* Handles time scale */
#blank {
  flex: 0.22;
  background-color: #eee;
  border-right: solid 2px #ddd;
}

.scale {
  flex: 0.02;
  font-size: 14px;
  background-color: #eee;
  color: #666;
  height: 794px;
  text-align: center;
  padding-top: 70px;

  /* Center vertically each time increment */
  display: flex;
  flex-direction: column;
}

.scale div {
  /* Center vertically each time increment */
  flex: 1;
}

.table {
  display: flex;
  height: 85%;
  /* Remove Bootstrap default */
  margin-bottom: 0;
}

html, body {
  height: 100%;
}

/* Change width scaling */
body {
  min-width: 1430px;
  font-family: Verdana, sans-serif; 
  margin: 0;
}

.main-content {
  flex: 1;
  background-color: #f3f3f3;
}

/* Days (1-31) */
.row {
  display: flex;
  /* Remove Bootstrap default */
  margin: 0;
}

.row .valid, .row .invalid {
  flex: 1;
  height: 150px;
  padding: 5px 0px 0px 5px;
}

.valid {
  color: #666;
  background-color: #eee;
  border: solid 1px #ddd;
}

.valid:hover {
  border: solid 1px #009a43;
  cursor: pointer;
}

.invalid {
  color: #666;
  background-color: #ccc;
  border: solid 1px #ddd;
}

/* Handle current date */
.active-date {
  background-color: #009a431e;
  border: solid 1px #009a44;
  color: #000;
  font-weight: bold;
}