.modal-body {
    min-height: 410px;
}

.event {
    margin: 10px;
}

.view-item {
    height: 30px;
    font-size: 20px;
    background-color: #009a44;
    color: white;
    border-radius: 5px;
}

.view-item-header {
    color: #009a44;
    text-decoration: none;
}

.view-item-header:hover {
    color: #009a44;
}

.view-item-body {
    font-size: 14px;
    background-color: #eee;
    color: black
}

.view-link {
    text-decoration: none;
    color: #aaa;
}

.view-link:hover {
    color: #aaa;
}

.btn {
    color: white;
    background-color: #009a44;
    border: none;
}

.btn:hover {
    color: white;
    background-color: #009a43b7;
    border: none;
}

.btn-secondary:focus, .btn-secondary:active {
    background-color: #009a44;
    border: none;
}