#myModal .modal-body {
    min-height: 410px;
}

.event {
    margin: 10px;
}

.view-item {
    background-color: #009a44;
    color: white;
}

.view-item:hover {
    background-color: #009a44;
    color: white;
}


.view-item-header {
    color: #009a44;
    text-decoration: none;
}

.view-item-header:hover {
    color: #009a44;
}

.view-item-body {
    font-size: 14px;
    background-color: #eee;
    color: black
}

.view-link {
    text-decoration: none;
    color: #aaa;
}

.view-link:hover {
    color: #aaa;
}