#myModal .modal-body {
    min-height: 410px;
}

.event {
    margin: 10px;
}

.view-item {
    background-color: #009a44;
    color: white;
}

.view-item:hover {
    background-color: #009a44;
    color: white;
}


.view-item-header {
    color: #009a44;
    text-decoration: none;
}

.view-item-header:hover {
    color: #009a44;
}

.view-item-body {
    font-size: 14px;
    background-color: #eee;
    color: black
}

.view-link {
    text-decoration: none;
    color: #aaa;
}

.view-link:hover {
    color: #aaa;
}

.btn-primary {
    color: white;
    background-color: #009a44;
    border: none;
}

.btn-primary:hover {
    color: white;
    background-color: #009a43b7;
    border: none;
}

.btn-primary:focus, .btn-primary:active {
    background-color: #009a44;
    border: none;
}

.btn-secondary {
    color: white;
    background-color: #f36f21;
    border: none;
}

.btn-secondary:hover {
    color: white;
    background-color: #f36f21;
    border: none;
}

.btn-secondary:focus, .btn-primary:active {
    background-color: #f36f21;
    border: none;
}

.btn-cancel, .btn-cancel:hover {
    color: white;
    background-color: #aaa;
    border: none;
}